---
title: Sample Workspace
---

<%= render '/partials/sample' %>

<div class="row">
  <div class="large-12 columns">
    <!-- Navigation -->
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="#">
              <i class="fa fa-flag fa-fw"></i> <%= @config[:site][:name] %>
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <% @config[:menu].each do |item| %>
            <li><a href="<%= item[:link] %>"><%= item[:title] %></a></li>
          <% end %>
        </ul>

        <ul class="right">
          <li class="search">
            <form>
              <input type="search">
            </form>
          </li>

          <li class="has-button">
            <a class="small button" href="#">Search</a>
          </li>
        </ul>
      </section>
    </nav>
    <!-- End Navigation -->
  </div>
</div>

<div class="row">
  <div class="large-12 columns">

    <!-- Desktop Slider -->
    <div class="hide-for-small">
      <div id="featured">
        <ul data-orbit>
          <li>
            <img src="<%= Lorem.image('1000x400', :text => 'Slide Image 1') %>" alt="slide image">
            <div class="orbit-caption">Here goes a caption</div>
          </li>
          <li>
            <img src="<%= Lorem.image('1000x400', :text => 'Slide Image 2') %>" alt="slide image">
            <div class="orbit-caption">Here goes another caption</div>
          </li>
          <li>
            <img src="<%= Lorem.image('1000x400', :text => 'Slide Image 3') %>" alt="slide image">
            <div class="orbit-caption">Yet another caption</div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Desktop Slider -->

    <!-- Mobile Header -->
    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="http://placehold.it/1000x600&text=For Small Screens" />
      </div>
    </div>
    <!-- End Mobile Header -->
  </div>
</div><br>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <!-- Thumbnails -->
      <div class="large-3 small-6 columns">
        <img src="<%= Lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= Lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= Lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= Lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>
      <!-- End Thumbnails -->
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <!-- Content -->
      <div class="large-8 columns">
        <div class="panel radius">
          <div class="row">
            <div class="large-6 small-6 columns">
              <h4>Header</h4><hr/>
              <h5 class="subheader"><%= Lorem.words 20 %></h5>

              <div class="show-for-small" style="text-align: center;">
                <a href="#" class="small radius button">Call To Action!</a><br>
                <a href="#" class="small radius button">Call To Action!</a>
              </div>
            </div>
            <div class="large-6 small-6 columns">
              <p><%= Lorem.paragraph %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="large-4 columns hide-for-small">
        <h4>Get In Touch!</h4>
        <hr/>
        <a class="large button expand" href="#">
          <i class="fa fa-hand-o-right"></i> Call To Action!
        </a>
        <a class="large button expand" href="#">
          <i class="fa fa-quote-left"></i> Call To Action!
        </a>
      </div>
      <!-- End Content -->
    </div>
  </div>
</div>

<%= render '/partials/footer' %>
