<article>
  <h3><%= @item[:title] %></h3>

  <%= render 'blog/posted_on' %>
  <%= yield %>
  <% unless @item[:updated_at].nil? %>
    <p><em>[Last updated on <time datetime="<%= @item[:updated_at].strftime('%Y-%m-%d') %>"><%= @item[:updated_at].strftime('%B %d, %Y %l:%M %p %Z') %></time>]</em></p>
  <% end %>
  <%= render 'blog/tags' %>

  <!-- Uncomment the following line to enable Disqus -->
  <!--  <%= render '/partials/disqus' %> -->
</article>
