<article>
  <h3><%= @item[:title] %></h3>

  <%= render 'blog/posted_on' %>
  <%= yield %>
  <%= render 'blog/tags' %>

  <!-- Uncomment the following line to enable Disqus -->
  <!--  <%= render '/partials/disqus' %> -->
</article>
