<article>
  <h3><%= link_to @item[:title], @item.path %></h3>

  <%= render 'blog/posted_on' %>

  <p><%= summary(@item) %></p>
  <p class="readmore"><%= link_to 'Read more &rarr;', @item.path, :class => 'secondary button radius' %></p>

  <%= render 'blog/tags' %>
</article>
