<% render '/default.*' do %>
  <header class="blog">
    <h1>
      <%= @config[:blog][:name] %>
    </h1>
    <p><%= @config[:blog][:slogan] %></p>
    <nav>
      <ul>
        <li><%= link_to @config[:site][:name], '/',   :title => @config[:site][:name],   :rel => 'nofollow' %></li>
        <li><%= link_to 'Link 1', '#',                :title => 'Link 1',                :rel => 'nofollow' %></li>
        <li><%= link_to 'Link 2', '#',                :title => 'Link 2',                :rel => 'nofollow' %></li>
      </ul>
    </nav>
    <a href="/blog/feed.xml" class="feed"><span>Feed</span></a>
  </header>

  <div class="blog-wrapper">
    <aside>
      <%= render '/blog/partials/sidebar.*' %>
    </aside>

    <main role="main">
    <%= yield %>
    </main>
  </div>

  <%= render '/partials/footer.*' %>
<% end %>
