<% render '/default.*' do %>
  <header id="page-header">
    <div id="blog-header-wrapper">
      <div id="title-wrapper">
        <h1>
          <%= @config[:blog][:name] %> <small><%= @config[:blog][:slogan] %></small>
        </h1>
      </div>
      <div id="menu-wrapper">
        <nav>
          <ul>
            <li><%= link_to @config[:site][:name], '/', :class => 'menu-item' %></li>
            <li><%= link_to 'Link 1', '#', :class => 'menu-item' %></li>
            <li><%= link_to 'Link 2', '#', :class => 'menu-item' %></li>
          </ul>
        </nav>
      </div>
      <div class="feed">
        <a href="/blog/feed.xml"><span class="feed"></span></a>
      </div>
    </div>
  </header>

  <div id="blog-content-wrapper">
    <div id="post-summaries">
      <main role="main">
      <%= yield %>
      </main>
    </div>

    <div id="blog-index">
      <aside>
        <%= render '/blog/partials/sidebar.*' %>
      </aside>
    </div>
  </div>

  <%= render '/partials/footer.*' %>
<% end %>

