<section>
<h4>Recent Articles</h4>
<ul>
  <% sorted_articles[0...10].each do |article| %>
    <li><%= link_to article[:title], article.path %> <span><%= article[:created_at].strftime('%b %e') %></span></li>
  <% end %>
</ul>
</section>

<section>
<h4>Archives</h4>
<ul>
  <% sorted_articles.group_by { |a| a[:created_at].year }.each do |year, year_articles| %>
    <li><%= link_to year, "/blog/archives/#{year}" %> (<%= year_articles.size %>)
      <ul class="no-bullet">
        <% year_articles.group_by { |a| a[:created_at].month }.each do |month, month_articles| %>
          <li><%= link_to Date::MONTHNAMES[month], "/blog/archives/#{year}/#{Date::ABBR_MONTHNAMES[month]}" %> (<%= month_articles.size %>)</li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
</section>

<section>
<h4>Tags</h4>
<ul>
  <% @items.select { |item| 'tag-page' == item.fetch(:kind, '') }.sort { |t1, t2| t2[:count] <=> t1[:count] }.each do |item| %>
    <li><%= link_for_tag item[:tag], '/blog/tags/' %> (<%= item[:count] %>)</li>
  <% end %>
</ul>
</section>
