<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
    <title><%= @config[:site][:name] + (@item[:title] ? ' - ' + @item[:title] : '') %></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/javascripts/modernizr.js"></script>
    <link href="/favicon.png" rel="icon" type="image/png">
    <% unless @item[:head].nil? %>
      <% for p in @item[:head] %>
        <%= render "/partials/#{p}" %>
      <% end %>
    <% end %>
  </head>
  <body>
    <%= render '/partials/sample' %> <!-- Remove me! -->

    <% unless @item[:beginbody].nil? %>
      <% for p in @item[:beginbody] %>
        <%= render "/partials/#{p}" %>
      <% end %>
    <% end %>
    <%= yield %>
    <script src="/javascripts/all.js"></script>
    <% unless @item[:endbody].nil? %>
      <% for p in @item[:endbody] %>
        <%= render "/partials/#{p}" %>
      <% end %>
    <% end %>
  </body>
</html>
